.class {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    min-width: 400px;
    width: fit-content;
    justify-content: space-between;
    margin: 0 auto;
}

.button {
    background: linear-gradient(to right,
            rgb(230, 180, 0),
            rgb(230, 204, 0),
            rgb(230, 180, 0));
    border-color: #e69b00;
    border-width: 0.5px;
    border-radius: 5px;
    width: 185px;
    height: 100px;
    padding: 10px 20px;
}